{
  "zncaddr": "*.superbnc.com",
  "zncport": 5000,
  "zncpass": "",
  "zncssl": true,
  "github_secret": "",
  "irc": {
    "freenode": {
      "admin": true,
      "perms": {
        "admin": [
          "*!*@*.staff.superbnc.com",
          "*!*@staff.superbnc.com"
        ]
      }
    },
  }
  "znc": {
    "Aegir": {
      "host": "*.superbnc.com",
      "port": 5000,
      "user": "",
      "pass": "",
      "ssl": true
    }
  }
  "smtp": {
    "host": "",
    "port": 587,
    "user": "",
    "pass": "",
    "ssl": false,
    "starttls": true,
    "from": ""
  }
}
