"znc": {
    "Spotchat": {
      "host": "ircbouncehouse.com",
      "port": 6697,
      "user": "",
      "pass": "",
      "ssl": true
      "perms": {
        "admin": [
          "*!*@spotchat/staff/devnull",
          "*!*@spotchat/staff/r00t" ]
    }
  },
  "smtp": {
    "host": "localhost",
    "port": 587,
    "user": "",
    "pass": "",
    "ssl": false,
    "starttls": true,
    "from": ""
  }
}
